.breadcrumb {
  background-color: transparent;
}

.breadcrumb a {
  color: #782a48;
}

.breadcrumb li {
  font-weight: bold;
  font-size: large;
}

.breadcrumb .active {
  color: #c86b59;
}

.breadcrumb > li + li:before {
  content: ">";
  color: black;
}

