.nav > li > a {
  padding: 1px 15px;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav-pills > li > a {
  background-color: #BCA976;
  color: black;
}

.nav-pills > li > a:hover {
  color: white;
  background-color: #BCA976;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  background-color: #F2D388;
  color: black;
}

.directory_tab h4 {
  font-weight: 900;
}

.directory_tab h2,
.directory_tab h3 {
  font-weight: bold;
  color: black;
}

.directory_tab .directory_content {
  width: 95%;
  height: 757px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  background-color: #F2D388;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

.directory_tab .item_card {
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px auto;
  border-radius: 30px;
}

.directory_tab .item_card:hover > #overlay {
  opacity: 1;
}

.directory_tab #overlay {
  background: rgba(75, 75, 75, 0.55);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 45px 0 66px 0;
  border-radius: 30px;
  opacity: 0;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: opacity .25s ease;
}

.directory_tab #overlay .title {
  color: white;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 0;
}

.directory_tab .filter {
  color: black;
}

.directory_tab .filter form {
  font-style: italic;
  font-size: medium;
  margin-right: -10px;
  position: relative;
}

.directory_tab .filter form label {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  background: transparent;
  left: 0px;
  margin-top: 3px;
  background-color: white;
}

.directory_tab .filter form label:after {
  content: '';
  opacity: 0.2;
  position: absolute;
  background: transparent;
  border: 3px solid #333;
  width: 9px;
  height: 5px;
  top: 3px;
  left: 2px;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.directory_tab .filter form input[type="checkbox"] {
  visibility: hidden;
}

.directory_tab .filter form input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.modal-content {
  background-color: #F2D388;
  padding-left: 25px;
  padding-right: 25px;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-header h2 {
  color: black;
  font-style: italic;
}

.image-bg {
  margin: 0 auto;
  width: 80%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.info-content {
  margin: 0 auto;
  width: 80%;
  color: black;
}

.info-content p {
  background-color: #FCFBF6;
  padding: 10px;
  border-radius: 5px;
}

.info-content td {
  padding: 10px;
  background-color: #FCFBF6;
  border: 1px solid black;
}

#close-button {
  background-color: white;
  padding: 6px 11px;
  border-radius: 34px;
}

.directory h1 {
  color: black;
  font-weight: 900;
}

.directory #map {
  height: 800px;
  width: 100%;
}

.pagination > .active > span {
  background-color: #77531e;
  border-color: #77531e;
}

.pagination > li > a {
  color: #77531e;
}

