.nav{
    & > li > a {
        padding: 1px 15px;
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.nav-pills{
    & > li{
        & > a {
            background-color: #BCA976;
            color: black;
            &:hover{
                color: white;
                background-color: #BCA976;
            }
        }
    }

    & > li.active{
        & > a, & > a:focus{
            background-color: #F2D388;
            color: black;
        }
    }


}

.directory_tab{
    h4{
        font-weight: 900;
    }
    h2, h3{
        font-weight: bold;
        color: black;
    }

    .directory_content{
        width: 95%;
        height: 757px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        background-color: #F2D388;
        border-radius: 15px;
        border-top-left-radius: 0px;
    }

    .item_card{
        width: 100%;
        height: 160px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 30px;
        &:hover{
            &>#overlay{
                opacity: 1;
            }
        }
    }

    #overlay{
        background:rgba(75,75,75,.55);
        width: 100%;
        height: 100%;
        text-align:center;
        padding:45px 0 66px 0;
        border-radius: 30px;
        opacity:0;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-transition: opacity .25s ease;
        .title{
            color: white;
            font-size: large;
            font-weight: bold;
            font-style: italic;
            margin-top: 25px;
            margin-bottom: 0;
        }
    }

    .filter{
        color: black;
        form{
            font-style: italic;
            font-size: medium;
            margin-right: -10px;
            position: relative;
            label{
                border: 1px solid black;
                width: 15px;
                height: 15px;
                cursor: pointer;
                position: absolute;
                background: transparent;
                left: 0px;
                margin-top: 3px;
                background-color: white;
                &:after{
                    content: '';
                    opacity: 0.2;
                    position: absolute;
                    background: transparent;
                    border: 3px solid #333;
                    width: 9px;
                    height: 5px;
                    top: 3px;
                    left: 2px;
                    border-top: none;
                    border-right: none;
                    transform: rotate(-45deg);
                }
            }
            input[type="checkbox"]{
                visibility: hidden;
                &:checked + label:after {
                  opacity: 1;
                }
            }
        }
    }

}

.modal-content{
    background-color: #F2D388;
}
.modal-header{
    border-bottom: none;
}

.image-bg{
    margin: 0 auto;
    width: 50%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#close-button{
    background-color: white;
    padding: 6px 11px;
    border-radius: 34px;
}