#myCarousel{
    .carousel-inner{
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
}

#carousel_item_css{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
