@import 'article/article';

.blog{
    h1{
        font-weight: 900;
        color: black;
        margin-top: 0;
        font-size: 50px;
    }
    h2{
        color: black;
        font-weight: bold;
        margin-top: 110px;
    }
    .item_card{
        width: 100%;
        height: 240px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 30px;
        &:hover{
            &>#overlay{
                opacity: 1;
            }
        }
    }
    #overlay{
        background:rgba(75,75,75,.55);
        width: 100%;
        height: 100%;
        text-align:center;
        padding:45px 0 66px 0;
        border-radius: 30px;
        opacity:0;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-transition: opacity .25s ease;
        .title{
            color: white;
            font-size: large;
            font-weight: bold;
            font-style: italic;
            margin-top: 50px;
            margin-bottom: 0;
        }
        .time{
            color: white;
            font-size: large;
            font-variant: small-caps;
            font-weight: normal;
        }
    }
    .filter{
        h3{
            color: black;
            font-weight: bold;
        }
        form{
            font-style: italic;
            font-size: medium;
            margin-right: -10px;
            position: relative;
            label{
                border: 1px solid black;
                width: 15px;
                height: 15px;
                cursor: pointer;
                position: absolute;
                background: transparent;
                left: 0px;
                margin-top: 3px;
                &:after{
                    content: '';
                    opacity: 0.2;
                    position: absolute;
                    background: transparent;
                    border: 3px solid #333;
                    width: 9px;
                    height: 5px;
                    top: 3px;
                    left: 2px;
                    border-top: none;
                    border-right: none;
                    transform: rotate(-45deg);
                }
            }
            input[type="checkbox"]{
                visibility: hidden;
                &:checked + label:after {
                  opacity: 1;
              }
          }
      }
    }
}

.pagination{
    & > li {
        & > a, & > span{
            border: none;
            background-color: #874C62;
            color: white;
            margin: 3px;
            border-radius: 5px;
            font-family: Raleway;
            &:hover{
                background-color: #c79a90;
                color: white;
            }
        }
    }
    & > .active > span{
        background-color: #C98474;
        &:hover{
            background-color: #c79a90;
        }
    }
    & > .disabled > span{
        background-color: #874C62;
        color: white;
    }
}